.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 20px;
}

