.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuButtons {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.formItem {
    display: flex;
    padding: 5px;
}